
<div  class="container">
<h2>Direction de la Sûreté Nucléaire</h2>
   <h2> Centre National des Sciences et Technologies Nucléaires</h2>
  
   <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">Projet De certification du CNSTN </div>
      <div class="panel-body"><p>Pour garantir la circulation des informations d’une manière efficace  entre le personnel du CNSTN,  <br>
        la Direction de l’Instrumentation et de la Sûreté Nucléaire met ce site  à votre dispostion.<br>
     
         * En effet, le contenu du site se résume ainsi:
        
          *  Activités et Services effectués par la Direction de l’Instrumentation et de la Sûreté Nucléaire.<br>
          * Liens utiles.<br>
          * Procédures et formulaires assurance qualité.<br>
         </p></div>
        </div>
        </div>
   
     <div class="alert alert-success">
        <strong> Comments are closed.</strong> 
    </div>
    
     
    
