<div class="container">
    
<h2>Production Scientifique par le Labo AAN</h2>
<div class="panel panel-primary">
    <div class="panel-heading"><p>RF Plasma, Deuterium Neutron Generator Operation and Maintenance</p></div>
    <div class="panel-body">Cette présentation porte sur la mise en marche et la maintenance du générateur des neutrons D-D110. 
        Le stage a été effectué à la société Adelphi Technologie à l’USA. Ce document présente tout d’abord
         quelques notions sur l’activation neutronique et puis la partie instrumentation qui comporte deux 
         volets : l’installation et la mise en marche du générateur des neutrons et la maintenance.</div>
  </div>


  <div class="panel panel-primary">
    <div class="panel-heading"><p>Avancement de la construction du projet</p>
    </div>
    <div class="panel-body">Cette présentation s’inscrit dans le cadre de la mise en place d’un Laboratoire d’Analyse par Activation
        Neutronique. Seront présentés les différents aspects du projet, à savoir :
       
       - l’état d’avancement de la mise en place de projet.<br>
       
       - les plans d’installation des systèmes anti-intrusion, anti-incendies, contrôle d’accès,
       
       etc.<br>
       
       - plan d’implantation des équipements.<br>
       
       - la réalisation d’une conception de protection biologique pour la radioprotection.</div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading"><p>Conception du système NAA.</p></div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading"><p>Impact des neutrons rapides sur les matrices polymères: Développement d’applications dosimétrique.</p></div>
        </div>


</div>