<div class="container">
    
  <div class="panel panel-info">
    <div class="panel-heading">Liens</div>
    
  </div>
   <br>
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading" >Laboratoire AAN</div>
            <div class="panel-body" >Introduction</div>
            <div class="panel-body"  ><a href="pcla">Production Scientifique par le Labo AAN </a></div>
            <div class="panel-body">Principe de méthode d’AAN</div>
            <div class="panel-body">Membre de l’équipe</div>
          </div>
     </div>
 <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">Unité de recherche</div>
          </div>
     </div>
     <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">Projet Pollution Marine</div>
          </div>
     </div>
     <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">Laboratoire Imagerie Nucléaire</div>
            <div class="panel-body">Mise en place d’un service de contrôle
                 de qualité des appareils radiologiques médicaux (Rx, scanner, Gamma caméra)</div>
          </div>
     </div>
     <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">JSTN 2011</div>
          </div>

</div>
</div>
<router-outlet></router-outlet>