<div class="container">
  <div class="container">
    <div class="panel panel-info">
      <div class="panel-heading">CNSTN</div>
      
    </div>
     <br>
  
  <div class="panel-group">
      <div class="panel panel-primary">
          <div class="panel-heading" align="centre" >Presentation</div>
          <div class="panel-body">
            <P>"Centre National des Sciences et Technologies Nucléaires", (CNSTN)</P><br> 
          Le Centre a pour mission de réaliser les études et recherches nucléaires à caractère pacifique dans<br>
           les différents domaines, ainsi que la maîtrise des technologies nucléaires, leur développement et <br>
           leur utilisation aux fins du développement économique et social", et notamment dans les domaines <br>
           de l'agriculture, de l'industrie, de l'énergie, de l'environnement et de la médecine, et d'une <br>
           façon générale, la réalisation de toutes les activités tendant à assurer le développemela promotion <br>
           de ses différentes applications et la maîtrise des technologies nucléaires à des finspacifiques.<br>
            <p>Evolution des Ressources Humaines et Développement des Compétences :</p><br>
           Le Centre  Nationale des Sciences et Technologies Nucléaires a parié, depuis sa création, sur le<br>
           développement de ses compétences et la promotion de ses ressources humaines. Ainsi l’effectif<br>
            du personnel du Centre a atteint  en 2005, 84 salariés contre 70 en 2004, soit une augmentation <br>
            de 18,7%.Le nombre de cadres scientifiques et techniques est passé de 38 en 2004 à 53 en 2005<br>
           soit  un taux de croissance de 39.5% et représentant 63% de l’ensemble des salariés en 2005. <br>
            Le taux d’encadrement s’est établi à 57% en 2005 contre 44.3% en 2004. Quant à l’effectif <br>
            des chercheurs/enseignants, il a plus que doublé entre 2004 et 2005 afin de renforcer les<br>
           activités de recherche du Centre. Il est à noter que la moyenne d’âge de l’ensemble des <br>
           salariés et notamment du personnel scientifique et technique est de 34.5 ans. De plus,60% <br>
           de ces cadres se situent dans la tranche d’âge 20-35 ans. Les femmes représentent 26% des <br>
           ressources humaines du CNSTN.<br></div>
           <div class="logo">
             <img src="../../assets/logo.jpg">
           </div>
      </div>
  </div>
  
</div>
</div>


   
   