<div class="container">
  
    <div class="panel panel-info">
      <div class="panel-heading">Imprimés direction des services communs</div>
    
    </div>
     <br>
      <div class="panel panel-primary">
        <div class="panel-heading">Sous Direction des Affaires Administratives</div>
       <div class="panel-body">Gestion de la Caisse</div>
       <div class="panel-body">Formulaires Gestion des demandes administratives</div>
      <div class="panel-body">Formulaires Gestion des présences</div>
      <div class="panel-body">Fiche Stagiaire</div>
      <div class="panel-body">Demande de la fourniture du bureau</div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">Imprimés Direction Général : DG</div>
     <div class="panel-body">بطاقة ارشادات حول القيام بمهمة أو تربص بالخارج </div>
     <div class="panel-body">قائمة في المهمات والتربصات المنجزة </div>
    <div class="panel-body"> طلب حضور اجتماع بحضور المدير العام</div>
    <div class="panel-body">مذكرة عمل</div>
    <div class="panel-body">Traitement du Courrier Urgent.pdf</div>
  </div>
    
</div>



      
     