<div class="container">
    <h2  align="center">Procédure et formulaires assurances qualité</h2>
    <table class="table">
      <thead>
        <tr>
          <td align="center" >Imprimés direction des services communs</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="alert alert-info" align="center" >Sous Direction des Affaires Administratives</td>
        </tr> 
        <table border="3" >
        <tr>
              <td align="center" >Gestion de la Caisse</td>
              <td align="center">Formulaires Gestion des demandes administratives</td>
              <td align="center">Formulaires Gestion des présences</td>
              <td align="center">Fiche Stagiaire</td>
              <td align="center" >Demande de la fourniture du bureau</td>
         </tr>
        </table><br>
        <tr >
          <td align="center" class="alert alert-info" >Imprimés Direction Général : DG</td>
        </tr>
        <table border="2">
        <tr class="danger">
          <td align="center"> بطاقة ارشادات حول القيام بمهمة أو تربص بالخارج .doc</td>
          <td align="center">قائمة في المهمات والتربصات المنجزة 
           قائمة في المهمات والتربصات المنجزة 
            بالخـارج خلال السنة التي تسبق المهمة او التربص المطلوب.doc</td>
          <td align="center">طلب حضور اجتماع بحضور المدير العام</td>
          <td align="center"  >مذكرة عمل</td>
          <td align="center" >Traitement du Courrier Urgent.pdf</td>
        </tr>
      </table><br>
      <tr align="center">
        <td class="alert alert-info" >Imprimés Direction Valorisation des Projets & Services : DVPS</td>
      </tr>
      <table border="2"  >
        <tr >
          <td  align="center">formulaires Gestion des archives</td>
          <td  align="center">Maitrise des documents, des données et des enregistrements</td>
          <td align="center" >Traitement des achats</td>
          <td  align="center">Action corrective</td>
          <td  align="center">formulaires Audit</td>
          <td  align="center">formulairesTraitement des analyses et des essais</td>
          </tr>
        </table><br>
        <table border="2">
          <tr>
            <td  align="center" >formulaires Traitement des réclamations</td>
            <td  align="center"> formulaires Protection de l’information et impartialité</td>
            <td  align="center" >Formulaire Evaluation des Fournisseurs</td>
            <td  align="center">Page de garde rapport d’expertise.doc</td>
            <td  align="center">Modèle standard de presentation.ppt</td>
            <td  align="center">Elaboration de fiche de poste et de fiche de fonction.doc</td>
          </tr>
        </table><br>
        <tr >
          <td align="center" class="alert alert-info" >Imprimés Direction de la Sûreté et 
            de l'Instrumentation Nucléaires : DSIN</td>
          </tr>
          <table border="2">
            <tr>
               <td   align="center">formulaires Gestion des sources Radioactives</td>
               <td  align="center">formulaires Gestion dosimètres</td>
               <td  align="center">formulaires Gestion des déchets chimiques au CNSTN</td>
               <td  align="center">formulaires de Gestion des déchets radioactifs</td>
               <td  align="center"> formulaire Contrôle d’accès aux laboratoires et aux bâtiments du CNSTN</td>
               <td  align="center"> fiche thésard</td>   
            </tr>
          </table><br>
        <tr>
          <td align="center" class="alert alert-info" > Imprimés Direction Recherche Energie et Matière : DREM</td>
        </tr>
        <table border="2">
          <tr>
          <td align="center">Fiche de demande de radiotraitement</td>
           </tr>
        </table><br>
        <tr class="info">
                <td align="center">Comments are closed!!</td>
         </tr>
      </tbody>
    </table>
  </div>
  
