<div class="container">
<h2  >Catégories</h2>
<div class="panel panel-primary">
    <div class="panel-heading">Concours internes</div>
    <div class="panel-body">مهندس رئيس /محلل مركزي/ملحق إدارة/متصرف /رئيس مخبر/تقني رئيس /بطاقة إسناد عدد تقييمي /تقني /تقني أول</div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Acceuil</div>
        <div class="panel-body"> <p>Pour garantir la circulation des informations d’une manière efficace  entre le personnel du CNSTN, <br>
            la Direction de l’Instrumentation et de la Sûreté Nucléaire met ce site  à votre dispostion.<br>
   
           En effet, le contenu du site se résume ainsi:<br>
           
           *Activités et Services effectués par la Direction de l’Instrumentation et de la Sûreté Nucléaire.<br>
           *Liens utiles.<br>
           *Procédures et formulaires assurance qualité.<br>
       </p></div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Organigramme</div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">SIR</div>
        <div class="panel-body">Formulaire de création d’un compte email officiel</div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Documents Techniques</div>
        <div class="panel-body">Moyens Scientifique</div>
    </div>  
    <div class="panel panel-primary">
        <div class="panel-heading">Formulaire DSIN</div>
        <div class="panel-body">Moyens Scientifique</div>
        <div class="panel-body">Fiche d’accès à la salle ICT</div>
        <div class="panel-body">Formulaire de réservation de la salle polyvalente</div>
        <div class="panel-body">Formulaire de réservation de matériel</div>
    </div>  
    <div class="panel panel-primary">
        <div class="panel-heading">Tel-email</div>
        <div class="panel-body">Direction <input type="text" class="form-control" id="usr"></div>
        <div class="panel-body">Nom Prénom  <input type="text" class="form-control" id="usr"></div>
        <div class="panel-body">Adress mail <span class="glyphicon glyphicon-envelope"></span> <input type="text" class="form-control" id="usr"></div>
        <div class="panel-body">poste telephonique  <input type="text" class="form-control" id="usr"></div>
    </div>  
</div>